body { font-family: sans-serif; background: white; color: black;
	padding-left: 20px;  padding-right:  20px; }
.zxtop { background: #330033; color: #ffaaff;
       padding-left: 20px;  padding-right:  20px;
       padding-top:  10px;  padding-bottom: 10px; }
.zxbot { background: #330033; color: #ffaaff;
       padding-left: 20px;  padding-right:  20px;
       padding-top:  10px;  padding-bottom: 10px; }
.zxerr { color: red; }
.zxmsg { color: green; }
.zxdbg { color: white; }
a.zx:link    { color: #ffccff; }
a.zx:visited { color: #aa44aa; }
a.zx:active  { color: #ff0000; }
a.zx:hover   { color: #ffffff; }

/* th { background: #ffbbff; text-align: left; } */
/* td { background: #ffddff; } */

a.zxidp:link    { color: #ffaaff; }
a.zxidp:visited { color: #ffaaff; }
a.zxidp:active  { color: #ff0000; }
a.zxidp:hover   { color: #ffffff; }

#hcol2 { background: #ffddff; padding: 5px; margin-left: 20px; margin-top: 20px; margin-bottom: 20px; background: #330033; color: #ffaaff; }

#col1 { background: #ffddff; padding: 5px; }
#col2 { background: #ffddff; padding: 5px; }
#col3 { background: #ffddff; padding: 5px; }

.small { font-size: 80%; }
.dense { margin-top: 3px; margin-bottom: 3px; }

#botlegal { text-align: center; }
